<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new person</title>
</head>
<body>
	<form th:method="POST" th:action="@{/people}" th:object="${person}">	
	
	<input type="text" th:field="*{fullName}" id="fullName">
	<label for="fullName">Full name</label>
	<p style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"> Full name error </p>
	<br/>	
	
	<input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
	<label for="yearOfBirth">Year of birth</label>
	<p style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}"> Year of birth error </p>
	<br/>	
	
	<input type="text" th:field="*{email}" id="email">
	<label for="email">Email</label>
	<p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error </p>
	<br/>
	
	<input type="submit" value="Add">
	</form>
</body>
</html>